@using Microsoft.AspNetCore.Http;
@model Himitsu.Models.Background
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href=".ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/content-1.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/settings.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Himitsu</title>
    <style>:root {
      --background: url(@Model.Link);
      --background-offset: @Model.Horizontal @Model.Vertical;
    }</style>
</head>

<header id="header">
    <div id="header-top">
        <a title="Открыть меню"><img src="../resources/header/logo.png" href="" id="header-logo" onmousedown="headerLogoButton()" /></a>
        <div id="header-profile-container">
        </div>
        @{ if (Context.Session.Keys.Contains("userid"))
            { <a href="/u/@Context.Session.GetInt32("userid")" class="header-button-a"><img src="../resources/header/user.svg" class="header-button" /><text class="header-button-text">Профиль</text></a> } }
        <a href="/" class="header-button-a"><img src="../resources/header/home-button.png" class="header-button" /><text class="header-button-text">Главная</text></a>
        <a href="/leaderboard" class="header-button-a"><img src="../resources/header/leaderboard-button.png" class="header-button" /><text class="header-button-text">Рекорды</text></a>
        <a target="_blank" href="https://hentai.ninja/beatmaps" class="header-button-a"><img src="../resources/header/library-button.png" class="header-button" /><text class="header-button-text">Библиотека</text></a>
    </div>
    <div id="header-bottom">
        <a href="/about" class="header-button-a"><img src="../resources/header/about.png" class="header-button" /><text class="header-button-text">О&nbsp;сервере</text></a>
        <a href="/settings" class="header-button-a"><img src="../resources/header/settings.png" class="header-button" /><text class="header-button-text">Настройки</text></a>
        @{ if (Context.Session.Keys.Contains("userid"))
            { <a href="/logout" class="header-button-a"><img src="../resources/header/logout.png" class="header-button" /><text class="header-button-text">Выйти</text></a> } }
    </div>
</header>


<body onload="displayContent()">
    <div id="content" class="content">
        <div class="panel">

            @{ if (ViewBag.QuickError != null)
                { <div class="quick-errors">
                        <div class="quick-error-red">
                            <h2>Ошибка!</h2>
                            @ViewBag.QuickError
                        </div>
                    </div>
                }
            }

            <div id="profile-top-bg">
                <text class="text-shadow-6 white-text">Настройки</text>
            </div>

            <div class="mode-selector-panel">
                <div>
                    <a href="/settings/profile"><li>Профиль</li></a>
                    <a href="/settings/avatar"><li>Аватар</li></a>
                    <a href="/settings/userpage"><li>Обо мне!</li></a>
                    <a href="/settings/background"><li>Фон профиля</li></a>
                    <a href="/settings/scoreboard"><li>Внутриигровые</li></a>
                    <a href="/settings/password"><li id="selected">Пароль</li></a>
                </div>
            </div>

            <div class="profile-separator"></div>

            <div class="base-container">
                <form method="post">
                    <h2>Сменить пароль</h2>

                    <div class="hor-line"></div>
                    <div style="display: flex; flex-direction: column;">
                        Старый пароль
                        <div class="small-separator"></div>
                        <input type="password" name="old_pass" class="input-text">
                        <div class="small-separator"></div>
                        Новый пароль
                        <div class="small-separator"></div>
                        <input type="password" name="new_pass" class="input-text">
                        <div class="small-separator"></div>
                        Повторите новый пароль
                        <div class="small-separator"></div>
                        <input type="password" name="check" class="input-text">
                    </div>
                    <div class="hor-line"></div>
                    <input class="button standard-button button-cyan" type="submit" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
