@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/content-1.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/global.js"></script>
    <script type="text/javascript" src="../js/settings.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Himitsu</title>
</head>

<header id="header">
    <div id="header-top">
        <a title="Открыть меню"><img src="../resources/header/logo.png" href="" id="header-logo" onmousedown="headerLogoButton()" /></a>
        <div id="header-profile-container">
        </div>
        @{ if (Context.Session.Keys.Contains("userid"))
            { <a href="/u/@Context.Session.GetInt32("userid")" class="header-button-a"><img src="../resources/header/user.svg" class="header-button" /><text class="header-button-text">Профиль</text></a> } }
        <a href="/" class="header-button-a"><img src="../resources/header/home-button.png" class="header-button" /><text class="header-button-text">Главная</text></a>
        <a href="/leaderboard" class="header-button-a"><img src="../resources/header/leaderboard-button.png" class="header-button" /><text class="header-button-text">Рекорды</text></a>
        <a target="_blank" href="https://hentai.ninja/beatmaps" class="header-button-a"><img src="../resources/header/library-button.png" class="header-button" /><text class="header-button-text">Библиотека</text></a>
    </div>
    <div id="header-bottom">
        <a href="/about" class="header-button-a"><img src="../resources/header/about.png" class="header-button" /><text class="header-button-text">О&nbsp;сервере</text></a>
        <a href="/settings" class="header-button-a"><img src="../resources/header/settings.png" class="header-button" /><text class="header-button-text">Настройки</text></a>
        @{ if (Context.Session.Keys.Contains("userid"))
            { <a href="/logout" class="header-button-a"><img src="../resources/header/logout.png" class="header-button" /><text class="header-button-text">Выйти</text></a> } }
    </div>
</header>


<body onload="enterBlocker(), displayContent()">
    <div id="content" class="content">
        <div class="panel">

            @{ if (ViewBag.QuickError != null)
                { <div class="quick-errors">
                        <div class="quick-error-red">
                            <h2>Ошибка!</h2>
                            @ViewBag.QuickError
                        </div>
                    </div>
                }
            }

            <div id="profile-top-bg">
                <text class="text-shadow-6 white-text">Ранкинг</text>
            </div>

            <div class="profile-separator"></div>

            <div class="base-container">
                <form method="post" style="width: 100%;">
                    Введите сюда ссылку на карту
                    <div class="small-separator"></div>
                    <div style="display: flex; align-items: center; width: 100%;">
                        <input name="map" style="width: calc(100% - 125px); margin-right: 5px;" type="text" value="" class="input-text" placeholder="https//osu.ppy.sh/b/xxx..">
                        <input class="button standard-button button-pink" type="reset" value="Очистить">
                    </div>
                    <div class="small-separator"></div>
                    <input name="type" class="button standard-button button-cyan" type="submit" value="Ranked">
                    <input name="type" class="button standard-button button-green" type="submit" value="Loved">
                    <input name="type" class="button standard-button button-gray" style="float: right" type="submit" value="Derank">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
