*{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}

body{
    background-color: #dddddd;
    background-image: url(../resources/bg.png);
    background-blend-mode: lighten;
    background-size: 100%;
    height: 100%;
}

img{
  display: block;
}

#header{
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 4px 2px #cccccc99;
}

#header-top, #header-bottom{
  padding: 5px;
  position: relative;
  display: flex;
}

#header-top{
  flex-direction: column;
}

#header-bottom{
  position: absolute;
  flex-direction: column-reverse;
  bottom: 0;
}

#header-logo{
  transition: transform 0.4s;
  height: 40px;
  margin: 5px 5px 0px;
  cursor: pointer;
}

.header-button-a{
  margin: 10px 5px 5px;
  max-width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.header-button{
  height: 30px;
  padding: 5px;
  border-radius: 12px;
}

.header-button:hover{
  background-color: #eeeeee;
}

#header-profile-container{
  width: 0px;
  margin: 10px 5px 0;

  transition: width 0.4s;
}

.header-button-text{
  display: block;
  visibility: hidden;
  margin-left: 10px;

  transition: 0.2s 0.4s;
  opacity: 0;

  font-size: 17px;
}

#content{
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px;
  padding-left: 80px;
  transition: filter 0.4s;
}

#selected{
  color: black;
  border-bottom: solid 3px black;
}

.content{
  display: none;
}

.panel{
  display: flex;
  flex-direction: column;
  margin: 55px auto 0px;
  width: 90%;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.white-text{
  color: white;
}

.black-text{
  color: black;
}

.pink-text{
  color: #fb7efd;
}

.bold-text{
  font-weight: bold;
}

.link-page-white{
  color: white;
}

.link-button{
  color: white;
  text-decoration: none;
}

.link-button-black{
  color: black;
  text-decoration: none;
}

.link-button-black:hover{
  color: #000099;
  text-decoration: none;
}

.text-shadow-6{
  text-shadow: 0 0 6px black;
}

.button-cyan, .button-pink, .button-violet, .button-green, .button-blue, .button-gray{
  background-size: 100% 100%;
  color: white;
  text-align: center;
  border-radius: 20px;
  transition: 0.2s;
}

.button-cyan{
  background-image: url(../resources/buttons/cyan-button.png);
}

.button-pink{
  background-image: url(../resources/buttons/pink-button.png);
}

.button-violet{
  background-image: url(../resources/buttons/violet-button.png);
}

.button-green{
  background-image: url(../resources/buttons/green-button.png);
}

.button-blue{
  background-image: url(../resources/buttons/blue-button.png);
}

.button-gray{
  background-image: url(../resources/buttons/gray-button.png);
}

.button-cyan:hover, .button-pink:hover, .button-violet:hover, .button-green:hover, .button-blue:hover, .button-gray:hover{
  box-shadow: 0 0 1px 1px black;
  transition: 0.2s;
}

.base-container{
  overflow: auto;
  padding: 20px;
  display: flex;
  background-color: #f7f7f7;
  background-size: 100%;
  max-width: 100%;
  color: black;
}

.profile-separator{
  height: 25px;
}

.mode-selector-panel{
  padding: 0 10px;
  display: flex;
  background-color: #f2f2f2;
  background-size: 100%;
  width: 100%;
}

.mode-selector-panel li{
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  margin: 5px 10px 0;
  padding: 10px;
  cursor: pointer;
  color: #999999;
  transition: 0.3s;
}

.mode-selector-panel-right{
  margin-left: auto;
}

.mode-selector-single li{
  color: black;
  border-bottom: solid 3px black;
}

.hide{
  display: none;
}
